body {
  margin: 0;
  padding: 0;
  font-family: Roboto, Arial, sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  background-color: #849D8F;
  background-image: url(../img/bgr1.jpg);
  background-position: top center;
  background-repeat: repeat;
}

.site-wrapper {
  min-width: 940px;
  background-color: #849d8f;
  background-image: url("../img/slider-1.png");
  background-repeat: no-repeat;
  background-position: top center;
  transition:
  background-image 0.5s ease,
  background-color 0.5s ease;
}

.container {
  width: 1145px;
  margin: 0 auto;
  padding: 0 20px;
}

.site-wrapper::before,
.site-wrapper::after {
  content: "";
  visibility: hidden;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: #FFFFFF;
  text-decoration: none;
}

.button {
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  vertical-align: top;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.main-header {
  display: flex;
  flex-direction: column;
  min-height: 95px;
}

.main-navigation {
  font-size: 16px;
  line-height: 18px;
  min-height: 72px;
  display: flex;
  align-items: center;
}

.main-navigation img {
  width: 154px;
  height: 64px;
}

.site-navigation {
  list-style: none;
  margin: 0;
  padding-left: 6px;
  padding-top: 2px;
  min-height: 25px;
  width: 800px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.site-navigation-item > a {
  padding: 6px 15px;
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.7);
}

.site-navigation-item >a:hover,
.site-navigation-item >a:focus {
  color: #323232;
  background-color: #f8f7f4;
  border-radius: 40px;
  text-decoration: none;
}

.site-navigation-item >a:active {
  background: rgba(248, 247, 244, 0.99);
  box-shadow: inset 0 2px 1px 0 #696969;
  border-radius: 40px;
}

.site-navigation-item:first-child {
  position: relative;
}

.top-catalog-list {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 27px;
  width: 146px;
  background: #F8F7F4;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.40);
  border-radius: 10px;
  display: none;
  z-index: 10;
  overflow: hidden;
}

.top-catalog-list li:hover,
.top-catalog-list li:focus {
  background-color: #FBDED7;
}

.top-catalog-list li:active {
  background-color: #EEB9A8;
}

.top-catalog-list .catalog-item {
  padding-left: 12px;
}

.top-catalog-list .catalog-item a {
  text-decoration: none;
  color: #323232;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
}

.top-catalog-list .catalog-item-new {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.top-catalog-list .catalog-item-new a {
  font-weight: 700;
}

.site-navigation-item:first-child:hover .top-catalog-list {
  display: block;
}

.user-navigation {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: auto;
  min-height: 25px;
  width: 360px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  align-content: space-between;
}

.user-navigation-item > a {
  position: relative;
  padding: 6px 15px 5px 46px;
  margin-left: 10px;
  font-weight: 500;
  border-radius: 60px;
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 14px;
}

.user-navigation-item >a:hover,
.user-navigation-item >a:focus {
  color: #323232;
  background-color: #f8f7f4;
}

.user-navigation-item:first-child {
  position: relative;
}

.user-navigation-search-list {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  left: -290px;
  top: 35px;
  width: 344px;
  z-index: 10;
  background: #F8F7F4;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.40);
  border-radius: 5px;
  display: none;
}

.user-navigation-search-list input {
  display: block;
  margin: 15px auto;
  width: 305px;
  border: 1px solid rgb(211, 211, 211);
}

.user-navigation-item:first-child:hover .user-navigation-search-list {
  display: block;
}

.user-navigation-item:first-child a {
  display: block;
  padding: 15px;
  border-radius: 50%;
}

.user-navigation-item:first-child a::before {
  content: "";
  width: 17px;
  height: 17px;
  position: absolute;
  bottom: 7px;
  left: 7px;
  background-image: url("../img/loupe.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.user-navigation-item:first-child a:hover::before,
.user-navigation-item:first-child a:focus::before{
  background-image: url("../img/loupe-dark.svg");
}

.user-navigation-item:nth-child(2) {
  position: relative;
}

.user-navigation-login-list {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 28px;
  left: -200px;
  width: 280px;
  min-height: 217px;
  z-index: 10;
  border-radius: 5px;
  display: none;
}

.user-navigation-login-list input {
  display: block;
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
  border: 1px solid rgb(211, 211, 211);
}

.user-navigation-login-list li:nth-child(3) {
  display: block;
  width: 125px;
  position: absolute;
  left: 145px;
  top: 155px;
}

.user-navigation-login-list .button {
  width: 125px;
  padding: 10px 25px;
  margin-bottom: 30px;
  position: absolute;
  top: 150px;
  left: 12px;
}

.user-navigation-login-list a {
  font-size: 13px;
  color: #323232;
  line-height: 16px;
  text-decoration: underline;
  text-decoration-color: rgba(50, 50, 50, 0.7);
}

.user-navigation-item:nth-child(2):hover .user-navigation-login-list {
  display: block;
}

.user-navigation-item:nth-child(2)>a::before {
  content: "";
  width: 21px;
  height: 19px;
  position: absolute;
  left: 16px;
  top: 4px;
  background-image: url("../img/entrance.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.user-navigation-item:nth-child(2) a:hover::before {
  background-image: url("../img/entrance-dark.svg");
}

.user-navigation-item:nth-child(3) > a::before {
  content: "";
  width: 21px;
  height: 20px;
  position: absolute;
  top: 4px;
  left: 16px;
  background-image: url("../img/basket.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.user-navigation-item:nth-child(3) a:hover::before {
  background-image: url("../img/basket-dark.svg");
}

.top-contact-info {
  width: 175px;
  margin-left: auto;
  margin-top: -4px;
  min-height: 40px;
  text-align: right;
}

.top-contact-hours {
  margin-bottom: 2px;
  display: block;
  font-size: 14px;
  line-height: 16px;
}

.top-contact-phone {
  font-size: 22px;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
}

.slider {
  min-height: 490px;
  margin-bottom: 25px;
  position: relative;
  text-align: center;
  color: #ffffff;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider-title {
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
  width: 700px;
  margin: 0 auto;
  padding-top: 255px;
  padding-bottom: 33px;
}

.slider-button {
  font-weight: 600;
  font-size: 31px;
  line-height: 41px;
  padding: 12px 44px;
}

.slider-controls {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 40px;
  left: 0;
  z-index: 20;
  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slide {
  display: none;
}

#product-1:checked~.site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slider-1.png");
}

#product-2:checked~.site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slider-2.png");
}

#product-3:checked~.site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slider-3.png");
}

#product-1:checked~.site-wrapper #slide1,
#product-2:checked~.site-wrapper #slide2,
#product-3:checked~.site-wrapper #slide3 {
  display: block;
}

#product-1:checked~.site-wrapper label[for="product-1"],
#product-2:checked~.site-wrapper label[for="product-2"],
#product-3:checked~.site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}

.promotion {
  min-height: 230px;
  margin-bottom: 25px;
}

.promo-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  line-height: 22px;
}

.promo-item {
  position: relative;
  border-radius: 20px;
  width: 560px;
  min-height: 228px;
}

.promo-list .promo-item:first-child {
  background-color: #7a1020;
  background-image: url("../img/rasberry.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.promo-list .promo-item:last-child {
  background-color: #2b140a;
  background-image: url("../img/chocolate.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.promo-item .promo-item-title {
  font-size: 35px;
  line-height: 41px;
  padding-left: 20px;
  margin-top: 12px;
  margin-bottom: 18px;
}

.promo-item .promo-item-description {
  padding-left: 20px;
  padding-right: 19px;
  margin-bottom: 108px;
}

.promo-item .button {
  position: absolute;
  right: 0;
  bottom: 0;
  box-sizing: border-box;
  padding: 10px 23px;
  margin-bottom: 25px;
  margin-right: 20px;
}

.main-catalog {
  margin-bottom: 58px;
}

.best-sellers {
  list-style: none;
  margin: 0;
  padding: 0;
  min-height: 325px;
  margin-bottom: 20px;
}

.best-sellers-list {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
}

.best-sellers-list .best-sellers-item {
  margin-right: 25px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 267px;
  min-height: 405px;
  text-align: center;
  position: relative;
  margin-bottom: -44px;
}

.best-sellers-list .best-sellers-item:nth-child(4n) {
  margin-right: 0;
}

.best-sellers-item p:first-of-type::before {
  content: "";
  width: 61px;
  height: 61px;
  background-image: url("../img/hit.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  position: absolute;
  top: 13px;
  left: 1px;
}

.best-sellers-list .button {
  display: none;
  margin-bottom: 10px;
  padding: 10px 15px;
}

.best-sellers-list .best-sellers-item:hover .button {
  display: block;
  position: absolute;
  bottom: 10px;
  left: 40px;
  z-index: 10;
}

.best-sellers-item .item-price-info {
  position: absolute;
  top: 205px;
  left: 3px;

}

.item-price-info .item-price {

  padding-right: 30px;
  position: relative;
}

.item-price-info .item-price::after {

  content: "";
  position: absolute;
  width: 34px;
  height: 44px;
  top: 15px;
  right:-5px;


  background-image: url("../img/ruble.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.best-sellers-list .best-sellers-item:hover,
.best-sellers-list .best-sellers-item:focus {
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  z-index: 11;
}

.best-sellers-item p:nth-of-type(3) {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.7);
  margin-top: -10px;
  margin-bottom: 10px;
}

.best-sellers-item .item-price {
  font-size: 45px;
  line-height: 45px;
}

.best-sellers-item .item-price-weight {
  font-size: 30px;
  line-height: 45px;
}

.best-sellers-item .item-image {
  background-size: 180px;
  border-radius: 50%;
}

.features {
  font-size: 16px;
  line-height: 22px;
  font-weight: 300;
  color: #323232;
  background-color: #e9dec1;
  background-image: url("../img/waffle.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  min-height: 220px;
  margin-bottom: 35px;
  padding: 10px 20px;
}

.features p {
  padding: 0;
  font-size: 24px;
  line-height: 30px;
  margin: 15px 5px;
  margin-bottom: 20px;
}

.features-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-content: space-between;
  flex-wrap: wrap;
  justify-content: space-between;
}

.feature-item {
  position: relative;
  margin-bottom: 17px;
  width: 480px;
  padding-left: 55px;
}

.feature-item:nth-child(1),
.feature-item:nth-child(2) {
  margin-bottom: 24px;
}

.feature-item-bar::before {
  content: "";
  width: 49px;
  height: 49px;
  background-image: url("../img/ice-cream.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  position: absolute;
  left: -2px;
  top: -10px;
}

.feature-item-leaf::before {
  content: "";
  width: 49px;
  height: 49px;
  background-image: url("../img/leaf.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  position: absolute;
  left: -2px;
  top: -10px;
}

.feature-item-cow::before {
  content: "";
  width: 49px;
  height: 49px;
  background-image: url("../img/cow.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  position: absolute;
  left: -2px;
  top: -10px;
}

.feature-item-term::before {
  content: "";
  width: 49px;
  height: 49px;
  background-image: url("../img/thermometer.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  position: absolute;
  left: -2px;
  top: -10px;
}

.block {
  margin-bottom: 38px;
  display: flex;
  justify-content: space-between;
  min-height: 120px;
}

.blog-entry {
  position: relative;
  color: #323232;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  width: 560px;
  min-height: 120px;
  background-color: #ffffff;
  background-image: url("../img/strawberry.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
}

.blog-entry .blog-entry-new {
  display: block;
  margin: 22px 17px;
}

.blog-entry-title-link {
  font-size: 24px;
  line-height: 30px;
  text-decoration: underline;
  text-decoration-color: rgba(50, 50, 50, 0.7);
  color: #323232;
  position: absolute;
  width: 300px;
  top: 60px;
  margin: -10px 17px;
}

.blog-entry-title-link:hover,
.blog-entry-title-link:focus {
  color: #FFBC9E;
}

.subscription {
  color: #5A5A5A;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  padding: 15px 4px 15px 20px;
  width: 519px;
  min-height: 120px;
  background-color: #F8F7F4;
  background-image: url("../img/plain.jpg");
  background-position: 0 0;
  background-size: cover;
  background-repeat: no-repeat;
  border: 8px solid rgba(0, 0, 0, 0.4);
  border-image-source: url("../img/str.png");
  border-image-slice: 10;
  border-radius: 20px;
}

.subscription p {
  margin-top: 12px;
}

.subscription form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 35px;
  margin-bottom: 20px;
}

.subscription input {
  width: 368px;
  box-sizing: border-box;
  padding: 12px 15px;
  border-radius: 20px;
  border: none;
  border: 1px solid rgba(178, 178, 178, 0.52);
  border-radius: 5px;
}

.subscription input::placeholder {
  font-size: 16px;
}

.subscription input:hover,
.subsription input:focus {
  border: 1px solid rgba(154, 154, 154, 0.7);
}

.subscription button {
  width: 130px;
  margin-left: 12px;
  margin-right: 12px;
  padding: 8px 5px;
}

.find-us {
  position: relative;
  min-height: 425px;
  width: 1200px;
  margin-left: -25px;
  background-image: url("../img/pin.svg"), url("../img/mapnpin.jpg");
  background-repeat: no-repeat;
  background-position: 260px 140px, 0 0;
  background-size: 80px 140px, 100% 98%;
}

.google-map {
  width: 1200px;
  height: 429px;
  border: 0;
}

.contact {
  color: #323232;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  background-color: #ffffff;
  min-height: 308px;
  position: absolute;
  width: 305px;
  top: 62px;
  right: 30px;
  border-radius: 10px;
}

.contact .contact-item,
.contact a {
  display: block;
  margin: 22px 25px 27px 28px;
}

.contact a {
  padding: 10px 25px;
}
.contact .contact-item:first-child {
  margin: 28px 25px 21px 28px;
}

.contact-address,
.contact-phone {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #323232;
  text-decoration: none;
}

.main-footer {
  min-height: 105px;
  display: flex;
  align-items: center;
  justify-content: flex-start;

}

.main-footer .footer-social {
  list-style: none;
  margin-right: 232px;
  padding: 0;
  width: 190px;
  min-height: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.footer-social .social-button {
  width: 32px;
  height: 32px;
  opacity: 0.7;
  display: block;
  border: 2px solid #C1CEC7;
  border-radius: 50%;
  margin-right: 15px;
}

.footer-social .social-button:hover,
.footer-social .social-button:focus {
  opacity: 1;
}

.footer-social.social-button:active {
  opacity: 0.3;
}

.main-footer .about-business {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 449px;
  min-height: 35px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.about-business li {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
  align-content: center;
}

.about-business li:nth-child(2n + 1) {
  width: 32%;
}

.about-business li:nth-child(2n + 2) {
  width: 67%;
}


.about-business a,
.copyright-text a {
  font-size: 13px;
  line-height: 16px;
  font-weight: 300;
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.7);
}

.about-business a:hover,
.about-business a:focus,
.copyright-text a:hover,
.copyright-text a:focus {
  color: #FFBC9E;
}

.about-business .decorated {
  position: relative;
}

.about-business .decorated::before {
  content: "";
  position: absolute;
  left: -23px;
  bottom: 3px;
  width: 15px;
  height: 13px;
  background-image: url("../img/heart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.main-footer .copyright {
  margin-left: auto;
  margin-right: -4px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 300;
  width: 194px;
  min-height: 60px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.copyright .footer-logo {
  margin-top: 14px;
  width: 110px;
  height: 37px;
}

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }
  70% {
    transform: translateY(30px);
  }
  90% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(10px);
  }
}

.modal {
  background-color: #F8F7F4;
  border: 1px solid #979797;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
  display: none;
}

.modal-feedback {
  position: fixed;
  width: 427px;
  height: 420px;
  top: 210px;
  left: 505px;
  padding: 17px 22px;
  border: 1px solid #979797;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.50), inset 0 1px 3px 0 rgba(0, 0, 0, 0.50);
  display: none;
  z-index: 2;
}

.modal-feedback h2 {
  color: #323232;
}

.modal-show {
  display: block;
  animation: bounce 0.6s;
}

.modal-show-popup {
  display: block;
}

.modal-error {
  animation: shake 0.6s;
}

.modal-close {
  position: absolute;
  right: 16px;
  top: 15px;
  width: 18px;
  height: 18px;
  font-size: 0;
  background-image: url("../img/cross-big.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  border: 0;
  background-color: #F8F7F4;
  cursor: pointer;
}

.modal-feedback form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.modal-feedback input {
  width: 265px;
}

.modal-feedback p:nth-child(3) {
  width: 100%;
}

.modal textarea {
  width: 90%;
}

.modal-feedback .button {
  width: 141px;
  align-self: flex-end;
  padding: 10px 15px;
}

.modal input,
.modal textarea {
  border-radius: 5px;
  box-shadow: none;
  padding: 10px 15px;
  border: 1px solid rgb(211, 211, 211);
}

.modal input:focus,
.modal input:hover,
.modal textarea:focus,
.modal textarea:hover {
  border: 1px solid rgba(154, 154, 154, 0.7);
}

::-webkit-input-placeholder {
  color: #999999;
  font-weight: 400;
  font-size: 14px;
  line-height: 24.3px;
}


.inner-page .main-header {
  position: relative;
}

.inner-page .logo {
  display: block;
  width: 174px;
  height: 64px;
  margin-right: 10px;
}

.inner-page .site-navigation-link-active {
  background-color: #D07058;
  border-radius: 25px;
  text-decoration: none;
}

.inner-page .user-navigation {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.inner-page .user-navigation-item:nth-child(3) > a {
  background-color: #F8F7F4;
  color: #323232;
}
.inner-page .user-navigation-item:nth-child(3) > a::before {
  background-image: url("../img/basket-red.svg");
}

.inner-page .basket {
  font-size: 13px;
  line-height: 16px;
  font-weight: 300;
  position: absolute;
  top: 55px;
  left: 540px;
  width: 610px;
  min-height: 242px;
  padding: 20px 16px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.40);
  border-radius: 10px;
  display: none;
  z-index: 10;
}


.basket .chosen-title {
  vertical-align: center;
}

.basket .chosen-delete {
  width: 15px;
  background-image: url("../img/cross-small.svg");
  background-position: center center;
  background-size: 11px 11px;
  background-repeat: no-repeat;

}

tr:nth-child(2) .chosen-pic {
  width: 45px;
  background-image: url("../img/item1-small.png");
  background-position: center center;
  background-size: 33px 33px;
  background-repeat: no-repeat;
}

tr:nth-child(3) .chosen-pic {
  width: 45px;
  background-image: url("../img/item3-small.png");
  background-position: center center;
  background-size: 33px 33px;
  background-repeat: no-repeat;
}


tr:not(:last-of-type) {
  color: #323232;
}

.table-footer td {
  padding-left: 460px;
  padding-top: 8px;
  border-top: 1px solid #CACAC7;

}

.table-button td {
  padding-left:396px;
}

.table-button .button {
  padding: 8px 15px;
}

.table-footer td {
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
}

.basket-price-per-kilo {
  color: #999999;
}

.inner-page .user-navigation-item:nth-child(3):hover .basket {
  display: table;
}

.inner-page .top-contact-info {
  position: absolute;
  text-align: right;
  right: 4px;
  top: 72px;
}

.inner-page h1 {
  font-size: 35px;
  line-height: 41px;
  margin-top: 6px;
  margin-bottom: 8px;
  padding: 0;
}

.breadcrumbs {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: flex-end;
  width: 215px;
  justify-content: space-between;
  margin-top: -5px;
  margin-bottom: 2px;
}

.breadcrumbs li {
  position: relative;
  line-height: 18px;
}

.breadcrumbs li:not(:last-child)::after {
  content: "»";
  position: absolute;
  right: -15px;
}

.breadcrumbs a {
  font-size: 14px;
  line-height: 16px;
  font-weight: 300;
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.7);
}

.breadcrumbs .breadcrumbs-current {
  font-size: 14px;
  line-height: 16px;
  font-weight: 300;
}

.breadcrumbs a:focus,
.breadcrumbs a:hover {
  color: #FFBC9E;
}

.catalog-list {
  margin-bottom: 40px;
}

.inner-page .best-sellers-item p:first-of-type::before {
  display: none;
}

.filter {
  min-height: 130px;
  width: 860px;
  margin-bottom: 17px;
}

.filter-form {
  width: 860px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;


}

.filter ul,
.filter select,
.filter-button {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50px;
  margin-bottom: 10px;

}

.filter-form fieldset {
  border: none;
  padding: 0;
}

.filter-sort {
  position: relative;
}

.filter-sort label::after  {
  position: absolute;
  top: 41px;
  right: 16px;
  content: "";
  width: 10px;
  height: 11px;
  background-image: url("../img/icon-down-dir.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-sort label:hover::after {
  background-image: url("../img/icon-down-dir-bl.png");
}

.filter-sort select {
  color: #ffffff;
  text-transform: lowercase;
  width: 190px;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  display: inline-block;
  vertical-align: middle;
  padding: 7px 20px 7px 15px;
  margin-top: 9px;

}

.filter-sort select:hover,
.filter-sort select:focus {
  color: #232323;
}

.filter-sort label,
.filter-price label {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  padding-left: 15px;
}

.filter-price label {
  display: block;
  padding-bottom: 10px;
}

.filter-option {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}


.filter-price .filter-option {
  display: inline-block;
  vertical-align: center;
  padding: 10px 20px;

}

.filter-price input[type=range] {
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 201px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50px;
  padding: 4px 10px;
}


.filter-price input[type=range]::-webkit-slider-runnable-track {
  height: 3px;
  cursor: pointer;
  background: #ffffff;
  border-radius: 1.3px;
  margin: 10px;
  position: relative;
}

.filter-price input[type=range]::-moz-range-track {
  height: 3px;
  cursor: pointer;
  background: #ffffff;
  border-radius: 1.3px;
}

input[type=range]::-ms-track {
  background-color: #ffffff;
  height: 2px;
  cursor: pointer;
  border-radius: 1.3px;
  margin: 4px;
}

input[type=range]::-ms-fill {
  background-color: transparent;
}

.filter-price input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  position: absolute;
  bottom: -10px;
  background-image: url("../img/filter-button.svg");
}

.filter-price input[type=range]::-moz-range-thumb {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  position: absolute;
  bottom: -10px;
  background-image: url("../img/filter-button.svg");
}

input[type=range]::-ms-thumb {
  height: 20px;
  width: 20px;
  background-color: #ffffff;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  bottom: -10px;
}


.filter-fat legend {
  display: inline-block;
  vertical-align:center;
  padding-bottom: 10px;
  margin-left: 22px;
  color: #ffffff;
}

.filter-fat-list {
  list-style: none;
  margin: 0;
  padding-left: 20px;

  font-size: 16px;
  line-height: 18px;
  font-weight: 500;

  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 400px;
}

.filter-fat-list li {
  margin-right: 10px;
  padding: 8px 10px;
  padding-left: 28px;
}

.filter-fat-option label,
.filter-topping-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.filter-fat-option input+label::before {
  content: "";
  position: absolute;
  left: -32px;
  top: -3px;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-image: url("../img/radio-off.svg");
  opacity: 0.7;
}

.filter-fat-option input+label:hover::before,
.filter-fat-option input+label:focus::before {
  opacity: 1;
}

.filter-fat-option input:checked+label::after {
  content: "";
  position: absolute;
  left: -32px;
  top: -3px;
  width: 22px;
  height: 22px;
  background-image: url("../img/radio-on.svg");
  opacity: 0.7;
}

.filter-fat-option input:checked+label:hover::after,
.filter-fat-option input:checked+label:focus::after {
  opacity: 1;
}

.filter-fat-option input:disabled+label::after,
.filter-fat-option input:disabled+label::before {
  opacity: 0.2;
}

.filter-topping legend {
  display: inline-block;
  vertical-align: center;
  margin-bottom: 7px;
  margin-left: 12px;
  color: #ffffff;
}

.filter-topping-list {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 20px;
  display: flex;
  align-items: center;
  min-height: 33px;
}

.filter-topping-list li {
  margin-right: 20px;
  padding: 5px;
  padding-left: 26px;
  text-transform: lowercase;
}

.filter-topping-option input+label::before {
  content: "";
  position: absolute;
  left: -30px;
  width: 20px;
  height: 20px;
  background-image: url("../img/checkbox-off.svg");
  opacity: 0.7;
}

.filter-topping-option input+label:hover::before,
.filter-topping-option input+label:focus::before {
  opacity: 1;
}

.filter-topping-option input:checked+label::after {
  content: "";
  position: absolute;
  left: -30px;
  width: 20px;
  height: 20px;
  background-image: url("../img/checkbox-on.svg");
  opacity: 0.7;
}

.filter-topping {
  margin-top: -10px;
}

.filter-topping-option input:checked+label:hover::after,
.filter-topping-option input:checked+label:focus::after {
  opacity: 1;
}

.filter-topping-option input:disabled+label::after,
.filter-topping-option input:disabled+label::before {
  opacity: 0.2;
}

.filter-form .filter-button {
  padding: 7px 26px;
  align-self: flex-end;
  color: #ffffff;
  font-size: 16px;
  line-height: 18px;
  border: 2px solid #FFFFFF;
}

.filter-form .filter-button:hover,
.filter-form .filter-button:focus {
  color: #232323;
  background: #FFFFFF;
}

.filter-form .filter-button:active {
  color: #232323;
  background: #EDEDED;
  box-shadow: inset 0 2px 1px 0 #696969;
}

.pagination-list {
  list-style: none;
  margin: 0;
  padding: 0;
  min-height: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 4px;
  margin-right: 20px;
  padding-bottom: 25px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);

}

.pagination-item {
  position: relative;
}

.pagination-item a {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  padding-left: 10px;
  display: block;
  padding: 4px 8px;
  margin-right: 2px;
}

.pagination-item a:hover,
.pagination-item a:focus {
  color: rgba(132, 157, 143, 0.7);
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
}

.pagination-item a:active {
  color: rgba(132, 157, 143, 0.7);
  background-color: #fbfbfb;
}

.pagination-item-current a {
  color: #353535;
  background-color: #fbfbfb;
  border-radius: 50%;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus {
  background-color: #ffffff;
}

.pagination-item-current a::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 14px;
  left: -20px;
  top: 7px;
  background-image: url(../img/arrow.png);
  transform: rotate(180deg);
  opacity: 0.2;
}

.pagination-item:last-child a:after {
  content: "";
  position: absolute;
  width: 8px;
  height: 14px;
  right: -20px;
  top: 7px;
  background-image: url(../img/arrow.png);
  opacity: 0.7;
}
