
body {
  margin: 0;
  padding: 0;
  font-family: Roboto, Arial, sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  background-color: #849D8F;
  background-image: url(../img/bgr1.jpg);
  background-position: top center;
  background-repeat: repeat;
}

.container {
  width: 1145px;
  margin: 0 auto;
  padding: 0 30px; }

main .container {
  background-color: #849d8f;
  background-image: url("../img/slide1.png");
  background-repeat: no-repeat;
  background-position: top center;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


img {
  max-width: 100%;
  height: auto;
}

a {
  color: #FFFFFF;
  text-decoration: none;
}

.button {
  display: inline-block;
  padding: 12px 44px;

  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  vertical-align: top;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;

  cursor: pointer;
}

.button:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.top-catalog-list,
.user-navigation,
.user-navigation-search-list,
.user-navigation-login-list,
.slideshow-list,
.slider-switches,
.best-sellers-list,
.features-list,
.footer-social,
.about-business,
.pagination-list,
.breadcrumbs,
.filter-fat-list,
.filter-topping,
.catalog-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-header {
  display: flex;
  flex-direction: column;
  min-height: 115px;
}

.main-navigation {
  font-size: 16px;
  line-height: 18px;
  min-height: 75px;
  display: flex;
  align-items: center;
}

.main-navigation img {
  width: 154px;
  height: 64px;
}

.site-navigation {
  min-height: 25px;
  width: 800px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;

  list-style: none;
  margin: 0;
  padding: 0;
}

.site-navigation-item > a {
  padding: 10px 15px;
  text-decoration: underline;
}

.site-navigation-item > a:hover,
.site-navigation-item > a:focus {
  color: #323232;
  background-color: #f8f7f4;
  border-radius: 40px;
}

.site-navigation-item:first-child {
  position: relative;
}

.top-catalog-list {
position: absolute;
top: 32px;
width: 146px;
background: #F8F7F4;
box-shadow: 0 20px 20px 0 rgba(0,0,0,0.40);
border-radius: 10px;
display: flex;
flex-direction: column;
justify-content: space-between;
display: none;
z-index: 10;
overflow: hidden;
}

.catalog-item {
  padding-left: 12px;
}

.top-catalog-list li:hover,
.top-catalog-list li:focus {
  background-color: #FBDED7;
}

.top-catalog-list .catalog-item a {
  text-decoration: none;
  color: #323232;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
}

 .top-catalog-list .catalog-item-new {
     border-bottom: 1px solid rgba(0,0,0,0.2);
 }
 .top-catalog-list .catalog-item-new a {
  font-weight: 700;
}

.site-navigation .site-navigation-item:first-child:hover .top-catalog-list {
display:block;
}

.user-navigation {
  margin-left: auto;
  min-height: 25px;
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}

.user-navigation-item > a {
  position: relative;
  padding: 10px 18px;
  padding-left: 30px;
  margin-left: 7px;
  font-weight: 500;
  background-color: #a0b3a8;
  border-radius: 60px;

}

.user-navigation-item > a:hover,
.user-navigation-item > a:focus {
  color: #323232;
  background-color: #f8f7f4;
}

.user-navigation-item:first-child {
  position: relative;
}

.user-navigation-search-list{
  position: absolute;
  left: -290px;
  top: 30px;
  width: 344px;
  z-index: 10;
  background: #F8F7F4;
  box-shadow: 0 20px 20px 0 rgba(0,0,0,0.40);
  border-radius: 10px;
  display: none;
}

.user-navigation-search-list input {
  display: block;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 90%;

}

.user-navigation .user-navigation-item:first-child:hover .user-navigation-search-list {
  display: block;
}

.user-navigation-item:first-child a {
  width: 12px;
  min-height: 20px;
  border-radius: 50%;
}

.user-navigation-item:first-child a::before {
  content: "";
  width: 17px;
  height: 17px;
  position: absolute;
  left: 35%;
  background-image: url("../img/loupe.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.user-navigation-item:first-child a:hover::before {
    background-image: url("../img/loupe-dark.svg");
}

.user-navigation-item:nth-child(2) {
  position: relative;
}

.user-navigation-login-list {
  position: absolute;
  top: 35px;
  left: -200px;
  width: 280px;
  min-height: 217px;
  z-index: 10;
  border-radius: 10px;
  display: none;
}

.user-navigation-login-list input {
  display: block;
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;

}

.user-navigation-login-list li:nth-child(3) {
  display: block;
  width:125px;
  position: absolute;
  left: 145px;
  top: 155px;

}

.user-navigation-login-list .button{
  width:125px;
  display: inline-block;
  padding: 10px 25px;
  margin-bottom: 30px;
  position: absolute;
  top: 150px;
  left: 12px;
}

.user-navigation-login-list a {
font-size: 13px;
color: #323232;
line-height: 16px;
text-decoration: underline;
}

.user-navigation .user-navigation-item:nth-child(2):hover .user-navigation-login-list {
  display: block;
}

.user-navigation-item:nth-child(2) > a::before {
  content: "";
  width: 21px;
  height: 19px;
  position: absolute;
  left: 5px;
  background-image: url("../img/entrance.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.user-navigation-item:nth-child(2) a:hover::before {
    background-image: url("../img/entrance-dark.svg");
}

.user-navigation-item:nth-child(3) a::before {
  content: "";
  width: 21px;
  height: 20px;
  position: absolute;
  left: 5px;
  background-image: url("../img/basket.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.user-navigation-item:nth-child(3) a:hover::before {
    background-image: url("../img/basket-dark.svg");
}



.basket {
  display: none;
}



.top-contact-hours {
  font-size: 14px;
  line-height: 16px;
}

.top-contact-phone {
  font-size: 22px;
  line-height: 24px;
}

.top-contact-info {
  text-align: right;
}




.slideshow h2 {
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
  width: 700px;
  margin: 0 auto;
  margin-bottom: 27px;
}
/*
.slideshow-list li:nth-child(2) {
  background-color: #8996A6;
  background-image: url(../img/bgr2.jpg);
  background-position: 0 0;
  background-repeat: repeat;
}

.slideshow-list li:last-child {
  background-color: #9D8B84;
  background-image: url(../img/bgr3.jpg);
  background-position: 0 0;
  background-repeat: repeat;
}
*/

.slider-switches {
  position: absolute;
  bottom: 63px;
  left: 0;
  z-index: 20;

  font-size: 0;
}

.slider-switches .slider-radio {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;

  vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.promo-list {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  line-height: 22px;

  list-style: none;
  margin: 0;
  padding: 0;
}

.promo-list .button {
position: absolute;
box-sizing: border-box;
right: 0;
bottom: 0;
margin-bottom: 20px;
margin-right: 20px;
}

.promo-list li:first-child {
  background-color: #7a1020;
  background-image: url("../img/rasberry.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.promo-list li:last-child {
  background-color: #2b140a;
  background-image: url("../img/chocolate.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.promo-item {
  position: relative;
  border-radius: 20px;

  padding: 30px 20px;
  width: 505px;
  min-height: 180px;
}

.promo-item h3 {
  font-size: 35px;
  line-height: 41px;
  margin: 0;
  padding: 0;
  margin-top: 25px;
  margin-bottom: 30px;
}

.promo-item p {
  margin-bottom: 50px;
}

.best-sellers-list li:hover,
.best-sellers-list li:focus {
  background-color: #a0b3ab;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  color: #ffffff;
}

.best-sellers-item h3 {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  text-decoration: underline;
}

.item-price {
  font-size: 45px;
  line-height: 45px;
}

.item-price-weight {
  font-size: 30px;
  line-height: 13px;
}

.item-image img,
.catalog-item img {
  background-size: 180px;
  border-radius: 50%;
}

.features {
  font-size: 16px;
  line-height: 22px;
  font-weight: 300;
  color: #323232;
  background-color: #e9dec1;
  background-image: url("../img/waffle.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
}

.features p {
  font-size: 24px;
  line-height: 30px;
  margin: 0;
  margin: 35px 25px;
}

.features-list {
  display: flex;
  align-content: space-between;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: 20px;

}

.feature-item {
  position: relative;
  width: 480px;
  padding-left: 55px;
  margin-bottom: 30px;

}

.feature-item-bar::before {
  content: "";
  width: 49px;
  height: 49px;
  background-image: url("../img/ice-cream.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  position: absolute;
  left: -2px;
  top: -15px;
}

.feature-item-leaf::before {
  content: "";
  width: 49px;
  height: 49px;
  background-image: url("../img/leaf.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  position: absolute;
  left: -2px;
  top: -15px;
}

.feature-item-cow::before {
  content: "";
  width: 49px;
  height: 49px;
  background-image: url("../img/cow.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  position: absolute;
  left: -2px;
  top: -15px;
}

.feature-item-term::before {
  content: "";
  width: 49px;
  height: 49px;
  background-image: url("../img/thermometer.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  position: absolute;
  left: -2px;
  top: -15px;
}

.blog-entry {
  color: #323232;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  background-color: #ffffff;
  background-image: url("../img/strawberry.png");
  background-position: 0 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
}

.blog-entry {
  position:relative;
}

.blog-entry-title-link {
  font-size: 24px;
  line-height: 30px;
  text-decoration: underline;
  color: #323232;
  position: absolute;
  top: 60px;
  width: 300px;
}

.blog-entry-title-link:hover,
.blog-entry-title-link:focus {
  color: #FFBC9E;
}

.subscription {

  color: #5A5A5A;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  background-color: #F8F7F4;
  background-image:
  url("../img/plain.jpg"),
  background-position: 0 0;
  background-size: cover;
  background-repeat: no-repeat;
  border: 8px solid rgba(0, 0, 0, 0.4);
  border-image-source: url("../img/str.png");
  border-image-slice: 10;
  border-radius: 20px;

}

.subscription p:nth-child(2) {
  margin-bottom: 35px;
}

.subscription form p {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.subscription input {
  flex-grow: 1;
  padding: 20px 15px;
  border-radius: 20px;
}

.subscription button {
  margin-left: 12px;
}

.contact {
  color: #323232;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  background-color: #ffffff;
}

.contact-address,
.contact-phone,
.contact a {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.about-business {
  text-align: center;
}

.about-business a,
.copyright-text a {
  font-size: 13px;
  line-height: 16px;
  font-weight: 300;
  text-decoration: underline;
}

.about-business a:hover,
.about-business a:focus,
.copyright-text a:hover,
.copyright-text a:focus {
  color: #FFBC9E;
}

.copyright {
  font-size: 12px;
  line-height: 16px;
  font-weight: 300;
}

.copyright-text {
  white-space: nowrap;
}

.modal {
  background-color: #F8F7F4;
  border: 1px solid #979797;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5)
}

.modal-feedback {
  position: fixed;
  top: 338px;
  left: 365px;
  width: 477px;
  padding: 17px 22px;
border: 1px solid #979797;
box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50), inset 0 1px 3px 0 rgba(0,0,0,0.50);

display: none;
}

.modal-close {

  position: absolute;
  right: 16px;
  top: 15px;
  width: 18px;
  height: 18px;

  font-size: 0;

  background-image: url("../img/cross-big.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  border: 0;
  background-color: #F8F7F4;

  cursor: pointer;
}

.modal-feedback form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.modal-feedback input {
  width: 265px;
}

.modal-feedback p:nth-child(3) textarea {
  width: 431px;
}

.modal-feedback form .button {
  width: 141px;
  align-self: flex-end;
}

.modal input,
.modal textarea {
  border-radius: 5px;
  box-shadow: none;
  padding: 10px 15px;
}

/* Нашла в интернете */

::-webkit-input-placeholder {
  color: #999999;
  font-weight: 400;
}

.modal-feedback h2 {
  color: #323232;
}

.site-navigation-link-active {
background-color: #D07058;
border-radius: 20%;
}
tr:not(:last-of-type) {
font-size: 13px;
line-height: 16px;
color: #323232;
font-weight: 300;
}

.table-footer td {
font-weight: bold;
font-size: 15px;
line-height: 18px;
}

.basket-price-per-kilo {
color: #999999;
}

.breadcrumbs a {
  font-size: 14px;
  line-height: 16px;
  font-weight: 300;
  text-decoration: underline;
}

.breadcrumbs .breadcrumbs-current {
  font-size: 14px;
  line-height: 16px;
  font-weight: 300;
}
.breadcrumbs a:focus,
.breadcrumbs a:hover {
  color: #FFBC9E;
}

.inner-page h1 {
  font-size: 35px;
  line-height: 41px;
}

.filter-option {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;

}

.filter fieldset {
  border: none;
}
 .filter ul,
 .filter select,
 .fitler input[type="range"] {

  background-color: #a0b3ab;
  border-radius: 50px;
}

.filter-fat-list li,
.filter-topping li {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}

.pagination-item a {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  padding: 10px;
}

.pagination-item a:hover,
.pagination-item a:focus {
background-color: #a0b3ab;
border-radius: 50%;
}

.pagination-item-current a,
.pagination-item a:active
 {
  color: #353535;
  background-color: #fbfbfb;
  border-radius: 50%;
}

/*Сетка*/


.top-contact-info {
  margin-left: auto;
  margin-top: auto;
  min-height: 40px;
}


.slideshow {
  min-height: 490px;
  margin-bottom: 40px;
  position: relative;
  padding-top: 370px;
  text-align: center;
  color: #ffffff;
}

.promotion {
  min-height: 230px;
  margin-bottom: 40px;

}



.best-sellers {
  margin-bottom: 40px;
  min-height: 320px;
}

.best-sellers-list {
  display: flex;
  justify-content: space-between;
}

.best-sellers-list li {
  width: 275px;
  text-align: center;
  position: relative;
}

.best-sellers-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 10px;
}

.best-sellers-item h3 {
  margin-top: 0;
  order: 2;
}

.best-sellers-item h3::before {
  content: "";
  width: 61px;
  height: 61px;
  background-image:url("../img/hit.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  position: absolute;
  top: 15px;
  left: 10px;
}

.best-sellers-list  .button {
  display: none;
  margin: 15px 9px;
}

.best-sellers-list li:hover .button {
  display: block;
}

.item-price-info {
  position: absolute;
  top: 200px;
}

.features {
  min-height: 310px;
  margin-bottom: 40px;
  padding: 30px 20px;
}


.block {
  margin-bottom: 40px;
  min-height: 220px;
  display: flex;
  justify-content: space-between;
}

.blog-entry,
.subscription {
  padding: 30px 20px;
  width: 505px;
  min-height: 180px;
}

.find-us {
  min-height: 425px;
  display: flex;
  background-image: url("../img/map.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100% 100%;
}

.find-us img {
  opacity: 0;
}

.contact {
  min-height: 308px;
  width: 305px;
  padding: 30px 27px;
margin-left: auto;
margin-right: 25px;
  margin-bottom:auto;
  margin-top: auto;
  border-radius: 25px;
}

.contact-address,
.contact-phone {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.contact {
  display: flex;
  flex-direction: column;
}

.contact-item {
  margin-bottom: 30px;
}

.contact-item:last-child {
  flex-grow: 1;
}

.main-footer {
  padding: 20px 0;
  min-height: 105px;
}

.main-footer .container {
  display: flex;
  align-items: center;
}

.footer-social {
  width: 190px;
  min-height: 40px;
  margin-right: 210px;
  display: flex;
  justify-content: flex-start;
  align-items: center;

}

.social-button {
  width: 32px;
  height: 32px;
  opacity: 0.7;
  display:block;
  border: 2px solid #C1CEC7;
  border-radius: 50%;
}

.social-button:hover,
.social-button:focus {
  opacity: 1;
}

.footer-social li {
  margin-right: 15px;
}

.about-business {
  width: 330px;
  min-height: 35px;
  display: flex;
  flex-wrap: wrap;
}

.about-business li {
  width: 165px;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.about-business .decorated {
  position: relative;
}
.decorated::before {
  content: "";
  position: absolute;
  left: -23px;
  bottom: 3px;
  width: 15px;
  height: 13px;

  background-image: url("../img/heart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.copyright {
  width: 190px;
  min-height:60px;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.copyright .footer-logo {
  width: 110px;
  height: 37px;
}

.breadcrumbs {
  display: flex;
  align-items: flex-end;
  width: 225px;
  justify-content: space-between;
  margin-bottom: 15px;
}

.filter {
  min-height: 130px;
  width: 860px;
  margin-bottom: 40px;
}

.filter-form {
  display: flex;
  flex-wrap: wrap;
}

.filter-form .button {
  margin-left: auto;
  background-color: #a6b9ae;
  border: 1px solid #ffffff;
}

.catalog-list {
  min-height: 1045px;
  display:flex;
  flex-wrap: wrap;
  margin-bottom: 80px;
  justify-content: space-between;
}

.pagination-list {
  min-height: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 40px;

}
