
body {
  margin: 0;
  padding: 0;
  font-family: Roboto, Arial, sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: blue;
  background-color: #849D8F;
  background-image: url(../img/bgr1.jpg);
  background-position: top center;
  background-repeat: repeat;
}

.site-wrapper {
  min-width: 940px;
  background-color: #849d8f;
  background-image: url("../img/slider-1.png");
  background-repeat: no-repeat;
  background-position: top center;
  transition: background-image 0.5s ease,
  background-color 0.5s ease;
}

.container {
  width: 1145px;
  margin: 0 auto;
  padding: 0 20px;
}

.site-wrapper::before,
.site-wrapper::after {
  content: "";

  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("img/slider-2.png");
}

.site-wrapper::after {
  background-image: url("img/slider-3.png");
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


img {
  max-width: 100%;
  height: auto;
}

a {
  color: #FFFFFF;
  text-decoration: none;
}

.button {
  display: inline-block;

  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  vertical-align: top;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;

  cursor: pointer;
}

.button:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.top-catalog-list,
.slider-list,
.features-list{
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-header {
  display: flex;
  flex-direction: column;
  min-height: 95px;
}

.main-navigation {
  font-size: 16px;
  line-height: 18px;
  min-height: 75px;
  display: flex;
  align-items: center;
}

.main-navigation img {
  width: 154px;
  height: 64px;
}

.site-navigation {
  list-style: none;
  margin: 0;
  padding: 0;

  min-height: 25px;
  width: 800px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

.site-navigation-item > a {
  padding: 6px 15px;
  text-decoration: underline;
  text-decoration-color: rgba(255,255,255,0.7);
}

.site-navigation-item > a:hover,
.site-navigation-item > a:focus {
  color: #323232;
  background-color: #f8f7f4;
  border-radius: 40px;
  text-decoration: none;
}

.site-navigation-item > a:active {
  background: rgba(248,247,244,0.99);
  box-shadow: inset 0 2px 1px 0 #696969;
  border-radius: 40px;
}

.site-navigation-item:first-child {
  position: relative;
}

.site-navigation-link-active {
background-color: #D07058;
border-radius: 25px;
}
tr:not(:last-of-type) {
font-size: 13px;
line-height: 16px;
color: #323232;
font-weight: 300;
}

.top-catalog-list {
position: absolute;
top: 27px;
width: 146px;
background: #F8F7F4;
box-shadow: 0 20px 20px 0 rgba(0,0,0,0.40);
border-radius: 10px;
display: flex;
flex-direction: column;
justify-content: space-between;
display: none;
z-index: 10;
overflow: hidden;
}

.catalog-item {
  padding-left: 12px;
}

.top-catalog-list li:hover,
.top-catalog-list li:focus {
  background-color: #FBDED7;
}

.top-catalog-list li:active {
  background-color: #EEB9A8;
}

.top-catalog-list .catalog-item a {
  text-decoration: none;
  color: #323232;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
}

 .top-catalog-list .catalog-item-new {
     border-bottom: 1px solid rgba(0,0,0,0.2);
 }
 .top-catalog-list .catalog-item-new a {
  font-weight: 700;
}

.site-navigation .site-navigation-item:first-child:hover .top-catalog-list {
display:block;
}

.user-navigation {
  list-style: none;
  margin: 0;
  padding: 0;

  margin-left: auto;
  min-height: 25px;
  width: 335px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  align-content: space-between;
}


.user-navigation-item > a {
  position: relative;
  padding: 5px 18px;
  padding-left: 35px;
  margin-left: 7px;
  font-weight: 500;
  border-radius: 60px;
  background-color: rgba(255,255,255,0.2);

}

.user-navigation-item > a:hover,
.user-navigation-item > a:focus {
  color: #323232;
  background-color: #f8f7f4;
}

.user-navigation-item:first-child {
  position: relative;
}

.user-navigation-search-list{
  list-style: none;
  margin: 0;
  padding: 0;

  position: absolute;
  left: -290px;
  top: 35px;
  width: 344px;
  z-index: 10;
  background: #F8F7F4;
  box-shadow: 0 20px 20px 0 rgba(0,0,0,0.40);
  border-radius: 5px;
  display: none;
}

.user-navigation-search-list input {
  display: block;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 90%;
  border: 1px solid rgb(211,211,211);

}

.user-navigation .user-navigation-item:first-child:hover .user-navigation-search-list {
  display: block;
}

.user-navigation-item:first-child a {
  display: block;
  padding: 15px;
  border-radius: 50%;
}

.user-navigation-item:first-child a::before {
  content: "";
  width: 17px;
  height: 17px;
  position: absolute;
  bottom: 8px;
  left: 8px;
  background-image: url("../img/loupe.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.user-navigation-item:first-child a:hover::before {
    background-image: url("../img/loupe-dark.svg");
}

.user-navigation-item:nth-child(2) {
  position: relative;
}

.user-navigation-login-list {
  list-style: none;
  margin: 0;
  padding: 0;

  position: absolute;
  top: 28px;
  left: -200px;
  width: 280px;
  min-height: 217px;
  z-index: 10;
  border-radius: 5px;
  display: none;
}

.user-navigation-login-list input {
  display: block;
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
  border: 1px solid rgb(211,211,211);

}

.user-navigation-login-list li:nth-child(3) {
  display: block;
  width:125px;
  position: absolute;
  left: 145px;
  top: 155px;

}

.user-navigation-login-list .button{
  width:125px;
  display: inline-block;
  padding: 10px 25px;
  margin-bottom: 30px;
  position: absolute;
  top: 150px;
  left: 12px;
}

.user-navigation-login-list a {
font-size: 13px;
color: #323232;
line-height: 16px;
text-decoration: underline;
text-decoration-color: rgba(255,255,255,0.7);
}

.user-navigation .user-navigation-item:nth-child(2):hover .user-navigation-login-list {
  display: block;
}

.user-navigation-item:nth-child(2) > a::before {
  content: "";
  width: 21px;
  height: 19px;
  position: absolute;
  left: 10px;
  background-image: url("../img/entrance.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.user-navigation-item:nth-child(2) a:hover::before {
    background-image: url("../img/entrance-dark.svg");
}

.user-navigation-item:nth-child(3) > a::before {
  content: "";
  width: 21px;
  height: 20px;
  position: absolute;
  left: 10px;
  background-image: url("../img/basket.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.user-navigation-item:nth-child(3) a:hover::before {
    background-image: url("../img/basket-dark.svg");
}

.inner-page .user-navigation-item:nth-child(3) > a {
  background-color: #F8F7F4;
  color: #323232;
}

.inner-page .user-navigation-item:nth-child(3) > a::before {
  content: "";
  width: 21px;
  height: 20px;
  position: absolute;
  left: 7px;
  background-image: url("../img/basket-red.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.basket {
  font-size: 13px;
  line-height: 16px;
  font-weight: 300;
  position: absolute;
  top: 55px;
  left: 630px;
  width: 540px;
  min-height: 242px;
  padding: 20px 16px;
  box-shadow: 0 20px 20px 0 rgba(0,0,0,0.40);
  border-radius: 10px;
  display: none;
  z-index:10;

}

.basket .chosen-title {
  padding-left: 72px;
}

tr:nth-child(2) .chosen-title::before {
  content: "";
  width: 11px;
  height: 11px;
  position: absolute;
  left: 16px;
  background-image: url("../img/cross-small.svg");
}

tr:nth-child(3) .chosen-title::before {
  content: "";
  width: 11px;
  height: 11px;
  position: absolute;
  left: 16px;
  background-image: url("../img/cross-small.svg");
}

tr:nth-child(2) .chosen-title::after {
  content: "";
  width: 33px;
  height: 33px;
  position: absolute;
  top: 30px;
  left: 41px;
  background-image: url("../img/item1-small.png");
  background-position: 0 0;
}

tr:nth-child(3) .chosen-title::after {
  content: "";
  width: 33px;
  height: 33px;
  position: absolute;
  left: 41px;
  top: 80px;
  background-image: url("../img/item3-small.png");
  background-position: 0 0;
}

.table-footer td{
  padding-left: 390px;
  padding-top: 10px;

    border-top: 1px solid #CACAC7;
}


.table-button td {
  padding-left: 325px;
}

.table-button .button {
  padding: 8px 15px;
}

.table-footer td {
font-weight: bold;
font-size: 15px;
line-height: 18px;
}

.basket-price-per-kilo {
color: #999999;
}

.inner-page .user-navigation-item:nth-child(3):hover .basket {
  display: table;
}

.top-contact-info {
  margin-left: auto;
  margin-top: auto;
  min-height: 40px;
}

.top-contact-hours {
  font-size: 14px;
  line-height: 16px;
}

.top-contact-phone {
  font-size: 22px;
  line-height: 24px;
}

.slider {
  min-height: 490px;
  margin-bottom: 20px;
  position: relative;

  text-align: center;
  color: #ffffff;
}


.slider-title {
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
  width: 700px;
  margin: 0 auto;
  padding-top: 255px;
  padding-bottom: 25px;
}

.slider-button {
  font-weight: 600;
  font-size: 31px;
  line-height: 41px;
  padding: 12px 44px;
}

.slider-controls {
  list-style: none;
  margin: 0;
  padding: 0;

  position: absolute;
  bottom: 40px;
  left: 0;
  z-index: 20;
  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;

  vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slide {
  display: none;
}

#product-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slider-1.png");
}

#product-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slider-2.png");
}

#product-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slider-3.png");
}

#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}

.promotion {
  min-height: 230px;
  margin-bottom: 25px;
}

.promo-list {

  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  line-height: 22px;
}

.promo-item {
  position: relative;
  border-radius: 20px;

  width: 560px;
  min-height: 215px;
}

.promo-list .promo-item:first-child {
  background-color: #7a1020;
  background-image: url("../img/rasberry.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.promo-list .promo-item:last-child {
  background-color: #2b140a;
  background-image: url("../img/chocolate.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.promo-item .promo-item-title {
  font-size: 35px;
  line-height: 41px;
  padding-left: 20px;
  margin-top: 12px;
  margin-bottom: 22px;
}

.promo-item .promo-item-description {
  padding-left: 20px;
  margin-bottom: 108px;
}

.promo-item .button {
  position: absolute;
  width: 192px;
  right: 0;
  bottom: 0;
  box-sizing: border-box;
  padding: 10px 15px;
  margin-bottom: 25px;
  margin-right: 20px;
}

.main-catalog {
  margin-bottom: 65px;

}

.best-sellers {
  list-style: none;
  margin: 0;
  padding: 0;
  min-height: 325px;
  margin-bottom: 20px;
}

.best-sellers-list {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;

}

.best-sellers-list .best-sellers-item {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  width: 255px;
  min-height: 405px;
  text-align: center;
  position: relative;
  padding: 0px 10px;
  margin-bottom: -50px;

}

.best-sellers-item p:first-of-type::before {
  content: "";
  width: 61px;
  height: 61px;
  background-image:url("../img/hit.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  position: absolute;
  top: 15px;
  left: 10px;
}

.inner-page .best-sellers-item p:first-of-type::before {
  display: none;
}

.best-sellers-list .button {
  display: none;
  margin-bottom: 10px;
  padding: 10px 15px;

}

.best-sellers-list .best-sellers-item:hover .button {
  display: block;
  position: absolute;
  bottom: 10px;
  left: 40px;

  z-index:10;
}

.best-sellers-item .item-price-info {
  position: absolute;
  top: 202px;
}

.best-sellers-list .best-sellers-item:hover,
.best-sellers-list .best-sellers-item:focus {
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  z-index:11;
}


.best-sellers-item p:nth-of-type(3) {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  text-decoration: underline;
  text-decoration-color: rgba(255,255,255,0.7);
  margin-top: -15px;
}

.best-sellers-item .item-price {
  font-size: 45px;
  line-height: 45px;
}

.best-sellers-item .item-price-weight {
  font-size: 30px;
  line-height: 45px;
}

.best-sellers-item .item-image{
  background-size: 180px;
  border-radius: 50%;
}

.features {
  font-size: 16px;
  line-height: 22px;
  font-weight: 300;

  color: #323232;
  background-color: #e9dec1;
  background-image: url("../img/waffle.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;

  min-height: 220px;
  margin-bottom: 35px;
  padding: 10px 20px;
}

.features p {
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 30px;
  margin: 15px 5px;
  margin-bottom: 20px;
}

.features-list {
  display: flex;
  align-content: space-between;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: 20px;

}

.feature-item {
  position: relative;
  width: 480px;
  padding-left: 55px;
  margin-bottom: 20px;

}

.feature-item-bar::before {
  content: "";
  width: 49px;
  height: 49px;
  background-image: url("../img/ice-cream.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  position: absolute;
  left: -2px;
  top: -10px;
}

.feature-item-leaf::before {
  content: "";
  width: 49px;
  height: 49px;
  background-image: url("../img/leaf.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  position: absolute;
  left: -2px;
  top: -10px;
}

.feature-item-cow::before {
  content: "";
  width: 49px;
  height: 49px;
  background-image: url("../img/cow.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  position: absolute;
  left: -2px;
  top: -10px;
}

.feature-item-term::before {
  content: "";
  width: 49px;
  height: 49px;
  background-image: url("../img/thermometer.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  position: absolute;
  left: -2px;
  top: -10px;
}

.block {
  margin-bottom: 35px;
  display: flex;
  justify-content: space-between;
  min-height: 120px;
}

.blog-entry {

  position:relative;
  color: #323232;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  width: 560px;
  min-height: 120px;

  background-color: #ffffff;
  background-image: url("../img/strawberry.png");
  background-position: 0 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
}

.blog-entry .blog-entry-new {
  display: block;
  margin: 22px 17px;
}

.blog-entry-title-link {
  font-size: 24px;
  line-height: 30px;
  text-decoration: underline;
  text-decoration-color: rgba(255,255,255,0.7);
  color: #323232;
  position: absolute;
  width: 300px;
  top: 60px;
  margin: -10px  17px;
}

.blog-entry-title-link:hover,
.blog-entry-title-link:focus {
  color: #FFBC9E;
}

.subscription {
  color: #5A5A5A;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;

  padding: 15px 20px;
  width: 505px;
  min-height: 120px;

  background-color: #F8F7F4;
  background-image:
  url("../img/plain.jpg"),
  background-position: 0 0;
  background-size: cover;
  background-repeat: no-repeat;
  border: 8px solid rgba(0, 0, 0, 0.4);
  border-image-source: url("../img/str.png");
  border-image-slice: 10;
  border-radius: 20px;

}


.subscription form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 35px;
  margin-bottom: 20px;

}

.subscription input {
  flex-grow: 1;
  box-sizing: border-box;
  padding: 12px 15px;
  border-radius: 20px;
  border: none;
  border: 1px solid rgba(178,178,178,0.52);
  border-radius: 5px;
}

.subscription input:hover,
.subsription input:focus {
  border: 1px solid rgba(154,154,154,0.7);
}

.subscription button {
  margin-left: 12px;
  width: 130px;
  padding: 8px 5px;
}

.find-us {
  position: relative;

  min-height: 425px;
  width: 1200px;
  margin-left: -25px;
  background-image:
  url("../img/pin.svg"),
  url("../img/mapnpin.jpg");
  background-repeat: no-repeat;
  background-position: 260px 140px, 0 0;
  background-size:80px 140px, 100% 98%;
}

.contact {
  color: #323232;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  background-color: #ffffff;

  min-height: 308px;

  position: absolute;
  width: 305px;
  top: 60px;
  right: 30px;

  border-radius: 10px;
}

.contact p,
.contact a {

  display: block;
  margin: 27px 25px;
}


.contact a {
  padding: 10px 25px;
}

.contact-address,
.contact-phone{
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.main-footer {
  min-height: 105px;
  margin-top: 15px;
}

.main-footer .container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.footer-social {
  list-style: none;
  margin-left: -20px;
  margin-right: 230px;
  padding: 0;
  width: 190px;
  min-height: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.social-button {
  width: 32px;
  height: 32px;
  opacity: 0.7;
  display:block;
  border: 2px solid #C1CEC7;
  border-radius: 50%;
}

.social-button:hover,
.social-button:focus {
  opacity: 1;
}

.social-button:active {
  opacity: 0.3;
}

.footer-social .social-button {
  margin-right: 15px;
}

.about-business {
  list-style: none;
  margin: 0;
  padding: 0;

  width: 310px;
  min-height: 35px;

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: : center;
}

.about-business li {
  width: 151px;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
  align-content: center;

}

.about-business a,
.copyright-text a {
  font-size: 12px;
  line-height: 16px;
  font-weight: 300;
  text-decoration: underline;
  text-decoration-color: rgba(255,255,255,0.7);
}

.about-business a:hover,
.about-business a:focus,
.copyright-text a:hover,
.copyright-text a:focus {
  color: #FFBC9E;
}

.about-business .decorated {
  position: relative;
}
.decorated::before {
  content: "";
  position: absolute;
  left: -23px;
  bottom: 3px;
  width: 15px;
  height: 13px;

  background-image: url("../img/heart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.copyright {
  font-size: 12px;
  line-height: 16px;
  font-weight: 300;

  width: 210px;
  min-height: 60px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  margin-left: auto;
}

.copyright .footer-logo {
  width: 110px;
  height: 37px;
}

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.modal {
  background-color: #F8F7F4;
  border: 1px solid #979797;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
  z-index: 1;
  display: none;
}

.modal-feedback {
  position: fixed;
  width: 427px;
  height: 420px;
  top: 50%;
  top: 210px;
  left:505px;


  padding: 17px 22px;
  border: 1px solid #979797;
  box-shadow:
  0 2px 4px 0 rgba(0,0,0,0.50),
  inset 0 1px 3px 0 rgba(0,0,0,0.50);

display: none;
z-index: 2;
}

.modal-show {
  display: block;
  /*animation: bounce 0.6s;*/
}

.modal-error {
  animation: shake 0.6s;
}

.modal-close {

  position: absolute;
  right: 16px;
  top: 15px;
  width: 18px;
  height: 18px;

  font-size: 0;

  background-image: url("../img/cross-big.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  border: 0;
  background-color: #F8F7F4;

  cursor: pointer;
}

.modal-feedback form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.modal-feedback input {
  width: 265px;
}

.modal-feedback p:nth-child(3) {
  width: 100%;
}

.modal textarea {
  width: 90%;
}

.modal-feedback form .button {
  width: 141px;
  align-self: flex-end;
  padding: 10px 15px;
}

.modal input,
.modal textarea {
  border-radius: 5px;
  box-shadow: none;
  padding: 10px 15px;
  border: 1px solid rgb(211,211,211);
}

.modal input:focus,
.modal input:hover,
.modal textarea:focus,
.modal textarea:hover {
    border: 1px solid rgba(154,154,154,0.7);
  }

::-webkit-input-placeholder {
  color: #999999;
  font-weight: 400;
  font-size: 14px;
  line-height: 24.3px;
}

.modal-feedback h2 {
  color: #323232;
}

.breadcrumbs {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  align-items: flex-end;
  width: 225px;
  justify-content: space-between;
  margin-bottom: 2px;
}

.breadcrumbs li {
  position:relative;
}

.breadcrumbs li:not(:last-child)::after {
  content: "»";
  position: absolute;
  right: -15px;
}

.breadcrumbs a {
  font-size: 14px;
  line-height: 16px;
  font-weight: 300;
  text-decoration: underline;
  text-decoration-color: rgba(255,255,255,0.7);
}

.breadcrumbs .breadcrumbs-current {
  font-size: 14px;
  line-height: 16px;
  font-weight: 300;
}
.breadcrumbs a:focus,
.breadcrumbs a:hover {
  color: #FFBC9E;
}

.inner-page h1 {
  font-size: 35px;
  line-height: 41px;
  margin: 0;
  padding: 0;
}

.catalog-list {
  margin-bottom: 40px;
}

.filter {
  min-height: 130px;
  width: 860px;
  margin-bottom: 40px;
}

.filter-form {
  width: 860px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

}

.filter ul,
.filter select,
.filter-button {

 background-color: rgba(255,255,255,0.2);
 border-radius: 50px;
}

.filter-form fieldset {
  border: none;
  padding: 0;
}

.filter-sort {
  position: relative;

}

.filter-sort label::after {
  position: absolute;
  top: 41px;
  right: 16px;
  content: "";
  width: 10px ;
  height: 11px;
  background-image: url("../img/icon-down-dir.png");
  background-repeat: no-repeat;
  background-position: 0 0;

}

.filter-sort label:hover::after {
  background-image: url("../img/icon-down-dir-bl.png");
}

.filter-sort select {
  color: #ffffff;
  text-transform: lowercase;
  width: 190px;
  border-radius: 50%;
  -webkit-appearance: none;
     -moz-appearance: none;
     display: inline-block;
     padding: 7px 20px 7px 15px;
     margin-top: 9px;
}


.filter-sort select:hover,
.filter-sort select:focus {
  color: #232323;
}

.filter-sort label {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  padding-left: 15px;
}


.filter-option {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;

}
.filter-sort .filter-option:nth-of-type(2){
  background: rgba(255, 45, 82, 0.2);
box-shadow: 0 0 0 3px rgb(255, 45, 82);
}

.filter-price .filter-option {
  display: inline-block;
  padding: 10px;
  margin-right: 5px;
}

.filter-price input[type=range]{

  -webkit-appearance: none;
 width: 100%;
 background: rgba(255,255,255,0.2);
 border-radius: 50px;
 padding: 4px 10px;
}

.filter-price input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  position: absolute;
  bottom: -10px;
  background-image: url("../img/filter-button.svg");

}


.filter-price input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  background: #ffffff;
  border-radius: 1.3px;
  margin: 10px;
  position: relative;
}


.filter-fat legend {
  display: inline-block;
  margin-bottom: 5px;
  margin-left: 22px;

}

.filter-fat-list {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;

  list-style: none;
  margin: 0;
  padding: 0px 10px;

  display: flex;
  align-items: center;
}

.filter-fat-list li {
  margin-right: 10px;
  padding: 8px 0px;
  padding-left: 40px;
}

.filter-fat-option label,
.filter-topping-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.filter-fat-option input + label::before {
  content: "";
position: absolute;

left: -32px;
top: -3px;

width: 22px;
height: 22px;

border-radius: 50%;
background-image: url("../img/radio-off.svg");
opacity: 0.7;
}

.filter-fat-option input + label:hover::before,
.filter-fat-option input + label:focus::before {
opacity:1; }

.filter-fat-option input:checked + label::after {
  content: "";
position: absolute;

left: -32px;
top: -3px;

width: 22px;
height: 22px;

background-image: url("../img/radio-on.svg");
opacity: 0.7;
}

.filter-fat-option input:checked + label:hover::after,
.filter-fat-option input:checked + label:focus::after {
opacity:1; }

.filter-fat-option input:disabled + label::after,
.filter-fat-option input:disabled + label::before {
opacity:0.2; }

.filter-topping legend {
  display: inline-block;
  margin-bottom: 5px;
  margin-left: 12px;
}

.filter-topping-list {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;

  list-style: none;
  margin: 0;
  padding: 0;
padding-left: 20px;

  display: flex;
  align-items: flex-end;
}

.filter-topping-list li {
  margin-right: 20px;
  padding: 5px;
  padding-left: 26px;
  text-transform: lowercase;


}

.filter-topping-option input + label::before {
  content: "";
position: absolute;
left: -30px;

width: 20px;
height: 20px;

background-image: url("../img/checkbox-off.svg");
opacity: 0.7;
}

.filter-topping-option input + label:hover::before,
.filter-topping-option input + label:focus::before {
opacity:1; }

.filter-topping-option input:checked + label::after {

  content: "";
position: absolute;
left: -30px;

width: 20px;
height: 20px;

background-image: url("../img/checkbox-on.svg");
opacity: 0.7;
}

.filter-topping-option input:checked + label:hover::after,
.filter-topping-option input:checked + label:focus::after {
opacity:1; }

.filter-topping-option input:disabled + label::after,
.filter-topping-option input:disabled + label::before {
opacity:0.2; }

.filter-form .filter-button {
  padding: 7px 26px;
  align-self: flex-end;
  color: #ffffff;
  font-size: 16px;
  line-height: 18px;
  border: 2px solid #FFFFFF;
}

.filter-form .filter-button:hover,
.filter-form .filter-button:focus {
  color: #232323;
  background: #FFFFFF;
}

.filter-form .filter-button:active {
  color: #232323;
  background: #EDEDED;
  box-shadow: inset 0 2px 1px 0 #696969;
}

.pagination-list {
  list-style: none;
  margin: 0;
  padding: 0;

  min-height: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 7px;
  margin-right: 20px;
  padding-bottom: 27px;
  border-bottom: 1px solid rgba(123,255,255,0.7);
  }

.pagination-item {
  position: relative;
}

.pagination-item a {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  padding-left: 10px;
  display: block;
  padding: 4px 8px;
  margin-right: 2px;

}

.pagination-item a:hover,
.pagination-item a:focus {
  color: rgba(132,157,143,0.7);
background-color: rgba(255,255,255,0.2);
border-radius: 50%;
}

.pagination-item a:active {
    color: rgba(132,157,143,0.7);
    background-color: #fbfbfb;
}

.pagination-item-current a
 {
  color: #353535;
  background-color: #fbfbfb;
  border-radius: 50%;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus {
  background-color: #ffffff;
}

.pagination-item-current a::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 14px;
  left: -20px;
  top: 7px;
  background-image: url(../img/arrow.png);
  transform: rotate(180deg);
  opacity: 0.2;
}

.pagination-item:last-child a:after {
  content: "";
  position: absolute;
  width: 8px;
  height: 14px;
  right: -20px;
  top: 7px;
  background-image: url(../img/arrow.png);
  opacity: 0.7;
}


.inner-page .main-header {
  position:relative;
}

.inner-page .logo {
  display: block;
  width: 174px;
  height: 64px;
  margin-right: 10px;
}

.inner-page .user-navigation {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.inner-page .user-navigation-item > a {
  margin-left: 20px;
}

.inner-page .top-contact-info {
  position: absolute;
  text-align: right;

  right: 18px;
  top: 68px;
}

.inner-page .footer-social {
margin-left: 0;
}

.inner-page .copyright {
  width: 190px;
}
